<!--
    Document   : index
    Created on : 20 Jan 2026, 8:27:53 pm
    Author     : Biskut
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>TODO Page Title</h1>
        </header>
        <main>
            <div>TODO write content</div>
        </main>
        <footer>
            <p>&copy; 2026 Your Organization</p>
        </footer>
    </body>
</html>